[submodule "TM_4_0_GraphDB"]
	path = code/TM_GraphDB
	url = git@github.com:TeamMentor/TM_GraphDB.git
[submodule "Lib_Docs-json"]
	path = data/Lib_Docs-json
	url = git@github.com:TMContent/Lib_Docs-json.git
[submodule "TM_4_0_JSON_Data"]
	path = build/TM_4_0_JSON_Data
	url = git@github.com:TeamMentor/TM_4_0_JSON_Data.git
[submodule "config/SiteData_TM_4"]
	path = config/SiteData_TM
	url = git@github.com:TMClients/SiteData_TM.git
[submodule "code/TM_4_Jade"]
	path = code/TM_Jade
	url = git@github.com:TeamMentor/TM_Jade.git
[submodule "code/TM_4_Flare"]
	path = code/TM_Flare
	url = git@github.com:TeamMentor/TM_Flare.git
[submodule "code/TM_4_Static"]
	path = code/TM_Static
	url = git@github.com:TeamMentor/TM_Static.git
[submodule "code/TM_Shared"]
	path = code/TM_Shared
	url = git@github.com:TeamMentor/TM_Shared.git
[submodule "code/TM_Website"]
	path = code/TM_Website
	url = git@github.com:TeamMentor/TM_Website.git
[submodule "TM_QA"]
	path = qa/TM_QA
	url = git@github.com:TeamMentor/TM_QA.git
[submodule "config/TM_Gulp"]
	path = build/TM_Gulp
	url = git@github.com:TeamMentor/TM_Gulp.git
[submodule "code/TM_Angular"]
	path = code/TM_Angular
	url = git@github.com:TeamMentor/TM_Angular.git
[submodule "data/Lib_UNO"]
	path = data/Lib_UNO
	url = git@github.com:tm-sme/Lib_UNO
[submodule "data/Lib_UNO-json"]
	path = data/Lib_UNO-json
	url = git@github.com:tm-sme/Lib_UNO-json
